deploy.host=localhost
deploy.tomcat.protocol=http
deploy.tomcat.port=8080
deploy.tomcat.url=${deploy.tomcat.protocol}://${deploy.host}:${deploy.tomcat.port}/manager
deploy.tomcat.user=tomcat-deployer
